body{
  padding-top: 100px;
  font-family: Arial, sans-serif;
  height: 1000px;
  margin: 0;
  background-color: #F0F2F5;
}

.main-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

p{
  margin: 0;
}

.main-container{
  background-color: green;
  display: flex;
  align-items: center;
}