.create-newsfeed{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 0  2px 1px rgb(224,225,228);
  padding: 0 20px;
  background-color: white;
}

.create-post{
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 10px 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  column-gap: 8px;
}

.picture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}

.text-field{
  width: 418px;
  height: 40px;
  border-radius: 20px;
  border: none;
  text-align: left;
  text-indent: 7px;
  font-size: 17px;
  color: rgb(96,98,102);
  background-color: rgb(240,242,245);
}

.text-field:hover{
  background-color: rgb(228,230,233);
  cursor: pointer;
}

.navigation-post{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  margin: 10px 0;
  padding: 0 21px;
  height: 40px;
  border-radius: 5px;
}

.nav-bar:hover{
  background-color: rgb(242,242,242);
  cursor: pointer;
}

.title{
  font-size: 15px;
  color: rgb(101,103,107);
}